* {
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
  border: 0;
  /*禁止页面被选择*/
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
