* {
  font-family: "微软雅黑";
  margin: 0;
  padding: 0;
  border: 0;
  /*禁止页面被选择*/
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  font-size: 12px;
}

.border-right {
  position: relative;
}

.border-right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
}

.font-bold {
  font-weight: bold;
}

.border-bottom {
  position: relative;
}

.border-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.padding0 {
  padding: 0;
}
